In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./covid19_details.csv',encoding='ISO-8859-1')
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0

In [3]:
df.count()

dateRep                    7320
day                        7320
month                      7320
year                       7320
cases                      7320
deaths                     7320
countriesAndTerritories    7320
geoId                      7306
countryterritoryCode       7254
popData2018                7311
dtype: int64

In [4]:
mac_df=df[df['countriesAndTerritories']=='North_Macedonia']
mac_df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
4982,28/03/2020,28,3,2020,18,0,North_Macedonia,MK,MKD,2082958.0
4983,27/03/2020,27,3,2020,24,1,North_Macedonia,MK,MKD,2082958.0
4984,26/03/2020,26,3,2020,29,0,North_Macedonia,MK,MKD,2082958.0
4985,25/03/2020,25,3,2020,12,0,North_Macedonia,MK,MKD,2082958.0
4986,24/03/2020,24,3,2020,22,1,North_Macedonia,MK,MKD,2082958.0
...,...,...,...,...,...,...,...,...,...,...
5057,04/01/2020,4,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5058,03/01/2020,3,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5059,02/01/2020,2,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5060,01/01/2020,1,1,2020,0,0,North_Macedonia,MK,MKD,2082958.0
5061,31/12/2019,31,12,2019,0,0,North_Macedonia,MK,MKD,2082958.0

In [5]:
from sqlalchemy import create_engine
engine=create_engine('sqlite:///covid.db',echo=True)
sqlite_connection=engine.connect()

In [6]:
sqlite_table='Covid19'
mac_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2023-04-07 17:21:04,117 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Covid19")
2023-04-07 17:21:04,121 INFO sqlalchemy.engine.Engine [raw sql] ()

ValueError: Table 'Covid19' already exists.

In [7]:
sqlite_connection.close()

In [8]:
import pandas as pd
import sqlite3

In [9]:
con=sqlite3.connect('covid.db')
df=pd.read_sql_query('SELECT * FROM Covid19',con)
print(df)
print(df.shape)
con.close()

    index     dateRep  day  month  year  cases  deaths  \
0    4982  28/03/2020   28      3  2020     18       0
1    4983  27/03/2020   27      3  2020     24       1
2    4984  26/03/2020   26      3  2020     29       0
3    4985  25/03/2020   25      3  2020     12       0
4    4986  24/03/2020   24      3  2020     22       1
..    ...         ...  ...    ...   ...    ...     ...
75   5057  04/01/2020    4      1  2020      0       0
76   5058  03/01/2020    3      1  2020      0       0
77   5059  02/01/2020    2      1  2020      0       0
78   5060  01/01/2020    1      1  2020      0       0
79   5061  31/12/2019   31     12  2019      0       0

   countriesAndTerritories geoId countryterritoryCode  popData2018
0          North_Macedonia    MK                  MKD    2082958.0
1          North_Macedonia    MK                  MKD    2082958.0
2          North_Macedonia    MK                  MKD    2082958.0
3          North_Macedonia    MK                  MKD    2082958.0
4          North_Macedonia    MK                  MKD    2082958.0
..                     ...   ...                  ...          ...
75         North_Macedonia    MK                  MKD    2082958.0
76         North_Macedonia    MK                  MKD    2082958.0
77         North_Macedonia    MK                  MKD    2082958.0
78         North_Macedonia    MK                  MKD    2082958.0
79         North_Macedonia    MK                  MKD    2082958.0

[80 rows x 11 columns]
(80, 11)